#box1 {
   height: 200px;
   width: 200px;
   background-color: #00a74a;
   display: inline-block;
   border-top-left-radius: 200px;
   vertical-align:top;
   margin-right: 10px;
}

#box2 {
   display: inline-block;
   height: 200px;
   width: 200px;
   background-color: #9f0f17;
   border-top-right-radius: 200px;
   vertical-align:top;
   /* margin-left: 20px;
   margin-bottom: 20px; */
}

#box3 {
   display: inline-block;
   height: 200px;
   width: 200px;
   background-color: #cca707;
   border-bottom-left-radius: 200px;
   vertical-align:bottom;
   margin-right: 10px;
}

#box4 {
   display: inline-block;
   height: 200px;
   width: 200px;
   background-color: #094a8f;
   border-bottom-right-radius: 200px;
   vertical-align:bottom;
   /* margin-left: 20px; */
}

.circle1 {
   text-align: center;
}

.circle2 {
   text-align: center;
   margin-top: 10px;
}

.bigCircle {
   background-color: black;
   margin: auto;
   width: 410px;
   padding: 20px;
   border-radius: 50%;
   /* position: absolute; */
}

.smallCircle {
   /* position: absolute;
   background: yellow;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0; */
   margin: auto;
   background: yellow;
   border-radius: 200px;
   height: 200px;
   width: 200px;
}

body {
   /* position: relative; */
   margin: 0;
   height: 100%;
}
