#box1 {
   height: 250px;
   width: 250px;
   background-color: #00a74a;
   display: inline-block;
   border-top-left-radius: 250px;
   vertical-align:top;
}

#box2 {
   display: inline-block;
   height: 250px;
   width: 250px;
   background-color: #9f0f17;
   border-top-right-radius: 250px;
   vertical-align:top;
}

#box3 {
   display: inline-block;
   height: 250px;
   width: 250px;
   background-color: #094a8f;
   border-bottom-left-radius: 250px;
   /* margin-right: 0; */
}

#box4 {
   display: inline-block;
   height: 250px;
   width: 250px;
   background-color: #cca707;
   border-bottom-right-radius: 250px;
}